@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
  color: #999;
}

.welcome {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
}

a, a:visited {
  text-decoration:none;
}

h1,
h2,
p {
  text-align: left;
}

h1 {
  font-size: 32px;
  margin: 16px 0 0 0;
}

img {
  background: gray;
  width: 60px;
  height: 60px;
}

.title {
  text-align: left;
}

.player {
  height: 60px;
  background: orange;
}

.track .player,
.relate .player {
  width: 100%;
}

.list {
  width: 100%;
}

.list img,
.list p {
  float: left;
}

.p img {
  width: 20px;
  height: 20px;
}
