<div class="comment" style="display:block; margin:10px 0; background-color:#ececec; padding-left:10px"> 
	<div class="mockup-avt-sm" style="margin:0 20px 0 0; display:inline-block"></div>
	<div style="display:inline-block">					
		<h4 style="padding-top:10px">Username</h4>
		<p>comment comment comment
		<br>comment comment</p>
	</div>
</div>