{% extends "base.twig" %}

{% block title %}Mix{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Jamming "Name"</h1>
        <div class="button-container">
          <div class="record btn btn-default btn-lg">Record</div>
        </div>
        <button type="button" class="btn btn-danger btn-sm">Reset</button>
        <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
      </div>
    </div>
  </div>
{% endblock %}