{% extends "base.twig" %}

{% block title %}Mix{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Jamming "Name"</h1>
          <div class="sound-container">
            <div class="row">
              <div class="col-sm-3">
                Profile + Vol
              </div>
              <div class="col-sm-9">
                <img src="img/sound.svg" style="width:100%">
              </div>
            </div>
          </div>
          <div class="equalizer clearfix">
            <h2>EQ</h2>
            <button type="button" class="btn btn-default pull-left jazz active">Jazz</button>
            <button type="button" class="btn btn-default pull-left classic">Classic</button>
            <button type="button" class="btn btn-default pull-left rock">Rock</button>
            <button type="button" class="btn btn-default pull-left dance">Dance</button>
          </div>
          <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
        </div>
      </div>
    </div>
{% endblock %}