{% extends "base.twig" %}

{% block title %}Mix{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Jamming "Name"</h1>
          <div class="sound-container">
            <div class="sound clearfix">
              <img src="" alt="" class="profile-image pull-left">
              <div class="volume pull-left"></div>
              <div class="sound-graph pull-left"></div>
            </div>
            <div class="sound clearfix">
              <img src="" alt="" class="profile-image pull-left">
              <div class="volume pull-left"></div>
              <div class="sound-graph pull-left"></div>
            </div>
            <div class="sound clearfix">
              <img src="" alt="" class="profile-image pull-left">
              <div class="volume pull-left"></div>
              <div class="sound-graph pull-left"></div>
            </div>
          </div>
          <div class="equalizer clearfix">
            <h2>Equalizer</h2>
            <button type="button" class="btn btn-default pull-left jazz active">Jazz</button>
            <button type="button" class="btn btn-default pull-left classic">Classic</button>
            <button type="button" class="btn btn-default pull-left rock">Rock</button>
            <button type="button" class="btn btn-default pull-left dance">Dance</button>
          </div>
          <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
        </div>
      </div>
    </div>
{% endblock %}