
{% import "trackmacro.twig" as trackm %}
{% extends 'base.twig' %}
{% block content %}
	<div class="row">
		<div class="container-fluid pad-section-lg-ni">
			<div class="row">
				<div class="col-sm-8">
					<h1>Jams from musicians you follow</h1>
					{% for track in tracks %}
					{{trackm.display_track(track)}}
					{% endfor %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
				</div>
				<div class="col-sm-4 hidden-xs">
					<div class="txt-center">
						<a href="user" class="txt-center">
							<div class="mockup-avt-sm" style="width:150px; height:150px"></div>
							<br><b>John Lovemusic</b>
						</a>
					</div>
					<h2>Explore</h2>
					<h4>Styles</h4>
					<span class="label label-primary">Rock</span>
					<span class="label label-primary">Pop</span>
					<span class="label label-primary">Indie</span>
					<span class="label label-primary">Thai</span>
					<span class="label label-primary">Classical</span>
					<span class="label label-primary">Hip-hop</span>
					<span class="label label-primary">Electronic</span>
					<span class="label label-primary">Dubstep</span>
					<h4>Search</h4>
					<img src="img/search.svg" style="width:100%">
					<h2>Trening Jams</h2>
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					{% include 'track-list-xs.twig' %}
					<div class="txt-center" style="margin-top:10px; margin-bottom:10px">
						<a href="" class="btn btn-primary">see more &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height:40px"></div>
{% endblock %}
