<a href="" style="width:100%; display:inline-block; margin: 10px 0;">
	<h1>Jam name</h1>
	<div class="sound" style="margin-top:-10px; white-space:nowrap">
		<div class="play-big"></div>
		<img src="img/sound.svg" style="vertical-align:center; width:auto; height:120px;">
	</div>
	<div class="txt-right" style="margin-top:-30px">
		<a href="" class="btn btn-secondary btn-lg">JAM</a>
	</div>
	<div class="soundinfo">
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
	</div>
	<span class="glyphicon glyphicon-heart"></span> 12 &nbsp;&nbsp;
	<span class="glyphicon glyphicon-comment"></span> 12 &nbsp;&nbsp;
	<span class="glyphicon glyphicon-plus"></span>12 &nbsp;&nbsp;