{% extends 'base.twig' %}
{% import "trackmacro.twig" as trackm %}

{% block title %}{{track.name}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% include 'track-main.twig' %}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<h2>Comments</h2>
				{% include 'comment.twig' %}
				{% include 'comment.twig' %}
				{% include 'comment.twig' %}
				{% include 'comment.twig' %}
				{% include 'comment.twig' %}
			</div>

			<div class="col-sm-4">

				{% if track.parents().count() > 0 %}
				<h2>Previous Version</h2>
				{{trackm.display_track(track.parents().first())}}
				<div class="txt-center" style="margin-top:10px; margin-bottom:10px">
					<a href="" class="btn btn-primary">see more &raquo;</a>
				</div>
				<br>
				{% endif %}
				{% if track.children().count() > 0 %}
				<h2>Related Jams</h2>
				{% for item in track.children %}
				{{trackm.display_track(item)}}
				{% endfor %}
				<div class="txt-center" style="margin-top:10px; margin-bottom:10px">
					<a href="" class="btn btn-primary">see more &raquo;</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}