<a href="" style="width:100%; display:inline-block; margin: 10px 0;">
	<h4>Jam name</h4>
	<div class="sound" style="margin-top:-10px; white-space:nowrap">
		<div class="play"></div>
		<img src="img/sound.svg" style="vertical-align:center; width:auto;">
	</div>
	<div class="soundinfo" style="margin-top:-30px">
		<a href="" class="btn btn-secondary" style="float:right">JAM</a>
		<span class="glyphicon glyphicon-heart"></span> 12 &nbsp;&nbsp;
		<span class="glyphicon glyphicon-comment"></span> 12 &nbsp;&nbsp;
		<span class="glyphicon glyphicon-plus"></span>12 &nbsp;&nbsp;
		<br class="visible-xs">
		<br class="visible-xs">
		by
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
		<div class="mockup-avt-xs"></div>
	</div>
	<br class="visible-xs">
</a>