<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Track</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="title">Title</h1>
				<div class="track">
					<div class="player"></div>
					<div class="social clearfix">
						<button type="button" class="btn btn-default btn-xs like pull-left">Like!</button>
						<button type="button" class="btn btn-default btn-xs share pull-left">Share!</button>
						<button type="button" class="btn btn-default btn-xs subscribe pull-left">Subscribe!</button>
						<button type="button" class="btn btn-default jam pull-right">JAM</button>
					</div>
					<div class="description">
						<p>This is a description.</p>
					</div>
				</div>

				<div class="history">
					<h2>History</h2>
					<div class="list clearfix">
						<div class="player col-sm-4">
						</div>
						<div class="people col-sm-4">
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
						</div>
						<div class="button-container col-sm-4">
							<button class="btn btn-default btn-xs">JAM</button>
						</div>
					</div>
					<div class="list clearfix">
						<div class="player col-sm-4">
						</div>
						<div class="people col-sm-4">
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
						</div>
						<div class="button-container col-sm-4">
							<button class="btn btn-default btn-xs">JAM</button>
						</div>
					</div>
					<div class="list clearfix">
						<div class="player col-sm-4">
						</div>
						<div class="people col-sm-4">
							<div class="p">
								<img src="" alt="" class="profile-image">
								<img src="" alt="" class="badge guitar">
							</div>
						</div>
						<div class="button-container col-sm-4">
							<button class="btn btn-default btn-xs">JAM</button>
						</div>
					</div>
				</div>

				<div class="comment">
					<h2>Comment</h2>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 1</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 2</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 3</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="musician">
					<h2>Musicians</h2>
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>Musician 1</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>Musician 2</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>Musician 3</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>Musician 4</p>
					</div>
				</div>

				<div class="relate">
					<h2>Related</h2>
					<div class="player">player1</div>
					<div class="player">player2</div>
					<div class="player">player3</div>
					<div class="player">player4</div>
				</div>
			</div>
		</div>
	</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</html>
